@font-face {
  font-family: "Uncut Sans Bold";
  font-style: normal;
  font-format: woff2;
  font-weight: 700;
  src: url("/fonts/uncutsans-bold.woff2") ;
}
@font-face {
  font-family: "Uncut Sans Regular";
  font-style: normal;
  font-format: woff2;
  font-weight: 400;
  src: url("/fonts/uncutsans-regular.woff2") ;
}
:root {
  --dl-color-ui-0: #FFFFFF;
  --dl-color-ui-500: #595959;
  --dl-color-ui-700: #999999;
  --dl-color-ui-900: #D9D9D9;
  --dl-color-ui-950: #0b0a14ff;
  --dl-color-ui-1000: #000000ff;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-half: 0.5rem;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #2828f6ff;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-secondary-100: #003EB3;
  --dl-color-secondary-300: #0074F0;
  --dl-color-secondary-500: #33ffb6ff;
  --dl-color-secondary-700: #85DCFF;
  --dl-size-size-mainwidth: 1632px;
  --dl-space-space-oneunit: 1rem;
  --dl-space-space-sixunit: 6rem;
  --dl-space-space-twounit: 2rem;
  --dl-space-space-fiveunit: 5rem;
  --dl-space-space-fourunit: 4rem;
  --dl-color-ui-richdarkblue: #080425ff;
  --dl-space-space-eightunit: 8rem;
  --dl-space-space-threeunit: 3rem;
  --dl-space-space-twelveunit: 12rem;
  --dl-space-space-twentyunit: 20rem;
  --dl-space-space-sixteenunit: 16rem;
  --dl-radius-radius-round-full: 50%;
  --dl-space-space-threequarter: 0.75rem;
  --dl-space-space-oneandhalfunit: 1.5rem;
  --dl-radius-radius-round-regular: 8px;
}

.input {
  color: var(--dl-color-ui-richdarkblue);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-ui-richdarkblue);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-ui-0);
}
.textarea {
  color: var(--dl-color-ui-richdarkblue);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-ui-richdarkblue);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-ui-0);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.arrow-tab {
  width: 96px;
  height: 96px;
}
.site-info {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  transition: .3s ease-out;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.twitter-button {
  gap: var(--dl-space-space-threequarter);
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunit);
  border-color: #1da1f2;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunit);
  padding-right: var(--dl-space-space-threeunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunit);
}
.button-cta {
  gap: var(--dl-space-space-threequarter);
  color: var(--dl-color-ui-0);
  display: flex;
  transition: .2s ease-out;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunit);
  padding-left: var(--dl-space-space-threeunit);
  padding-right: var(--dl-space-space-threeunit);
  padding-bottom: var(--dl-space-space-oneandhalfunit);
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.button-cta:hover {
  background-color: var(--dl-color-primary-300);
}
.button-social {
  gap: var(--dl-space-space-threequarter);
  flex: 1 1 100%;
  color: var(--dl-color-ui-0);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunit);
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunit);
  padding-right: var(--dl-space-space-oneandhalfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunit);
  justify-content: center;
}
.ss {
  font-feature-settings: "ss02", "ss07" on;
}
.hTwo {
  font-size: 80px;
  font-family: "Uncut Sans Bold";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3px;
  text-transform: none;
  text-decoration: none;
}
.bodyRegular {
  font-size: 20px;
  font-family: "Uncut Sans Regular";
  font-weight: 400;
  line-height: 164%;
  letter-spacing: -0.5px;
  text-transform: none;
}
.hOne {
  font-size: 104px;
  font-family: "Uncut Sans Bold";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -5px;
  text-transform: none;
  text-decoration: none;
}
.hOneM {
  font-size: 48px;
  font-family: "Uncut Sans Bold";
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.5px;
  text-transform: none;
  text-decoration: none;
}
.ContentBold {
  font-size: 22px;
  font-family: "Uncut Sans Bold";
  font-weight: 700;
  line-height: 1.64;
  letter-spacing: -0.5px;
  text-transform: none;
  text-decoration: none;
}
.hFour {
  font-size: 24px;
  font-family: "Uncut Sans Bold";
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: px;
  text-transform: none;
  text-decoration: none;
}
.bodyLarge {
  font-size: 32px;
  font-family: "Uncut Sans Regular";
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -1px;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: "Uncut Sans Regular";
  font-weight: 300;
  line-height: 150%;
  letter-spacing: px;
  text-transform: none;
  text-decoration: none;
}


@media(max-width: 767px) {
  .site-info {
    flex-wrap: wrap-reverse;
  }
}

